.TopoContainer {
   text-align: center;
}

.TopoWrapper {
   position: relative;
   display: inline-block;
}

.Topo {
   top: 0;
   left: 0;
   position: absolute;
}

.TopoImage {
   max-width: 75vh;
   max-height: 75vh;
}
