<div class="TopoContainer">
   <div class="TopoWrapper">
      <svg xmlns="http://www.w3.org/2000/svg" [attr.width]="imgWidth" [attr.height]="imgHeight" class="Topo">
         <rect *ngFor="let rect of rectangles" [attr.x]="rect.x" [attr.y]="rect.y" [attr.width]="rect.width" [attr.height]="rect.height" style="fill:red;" />
         <path *ngFor="let path of paths" [attr.d]="path" stroke="red" stroke-width="3" fill="none"/>
         <ellipse *ngFor="let ellipse of ellipses" [attr.cx]="ellipse.cx" [attr.cy]="ellipse.cy" [attr.rx]="ellipse.rx" [attr.ry]="ellipse.ry" stroke="red" stroke-width="3" fill="none"/>
      </svg>

      <img #img [attr.src]="imgUrl" (load)="onLoad()" class="TopoImage" (window:resize)="onLoad()">
   </div>
</div>
