div.tab-content {
   padding: .5em;
   height: 80vh;
   overflow: auto;
}

div.info-panel {
   margin-bottom: .5em;
}

.map {
   height: 80vh;
   width: 100%;
   display: block;
}

.embeded-video-carousel {
   padding: 1em;
   width: 100%;
   height: 100%;
   display: inline-block;
}

div.embeded-video-container {
   text-align: center;
   display: block;
}

div.embeded-video {
   display: block;
   margin: auto;
   width: 540px;
}

div.embeded-video > iframe {
   border: none;
   width: 540px;
   height: 38em;
}

.carousel-control-prev, .carousel-control-next {
   background-color: rgba(128, 128, 128, 0.5);
}
