<h1 *ngIf="info">{{ info.name }} ({{ info.difficulty | grade }})</h1>

<mat-tab-group *ngIf="info" (selectedTabChange)="onTabChange($event)">
   <mat-tab>
      <ng-template mat-tab-label>
         <mat-icon>info</mat-icon>
      </ng-template>

      <div class="tab-content">
         <div class="info-panel">
            <mat-expansion-panel *ngIf="route && route.Info">
               <mat-expansion-panel-header>
               <mat-panel-title>
                  Обща информация
               </mat-panel-title>
               </mat-expansion-panel-header>
               <p>{{ route.Info }}</p>
            </mat-expansion-panel>
         </div>
         <div *ngIf="route && route.Schemas && route.Schemas.length > 1" class="info-panel">
            <mat-stepper [linear]="false" #stepper>
               <mat-step *ngFor="let topo of route.Schemas">

                  <div>
                     <button mat-icon-button matStepperPrevious>
                        <mat-icon>navigate_before</mat-icon>
                     </button>
                     <button mat-icon-button matStepperNext>
                        <mat-icon>navigate_next</mat-icon>
                     </button>
                  </div>

                  <bg-topo [topo]="topo"></bg-topo>

               </mat-step>
            </mat-stepper>
         </div>
         <div *ngIf="route && route.Schemas && route.Schemas.length == 1" class="info-panel">
            <mat-card>
               <bg-topo [topo]="route.Schemas[0]"></bg-topo>
            </mat-card>
         </div>
      </div>
   </mat-tab>
   <mat-tab aria-label="map-tab">
      <ng-template mat-tab-label>
         <mat-icon>map</mat-icon>
      </ng-template>

      <bg-route-map
         *ngIf="info && route && area"
         [info]="info"
         [route]="route"
         [area]="area"
         class="map"></bg-route-map>

   </mat-tab>
</mat-tab-group>
