div.tab-content {
   padding: .5em;
}

div.info-panel {
   margin-bottom: .5em;
}

.map {
   height: 80vh;
   width: 100%;
   display: block;
}

.card-embeded-video {
   margin: 1em;
   padding: 1em;
   width: 40em;
   display: inline-block;
}

div.embeded-video > iframe {
   border: none;
   width: 38em;
   height: 38em;
}
