<mat-sidenav-container class="sidenav-container">
   <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Меню</mat-toolbar>
      <mat-nav-list>
         <nav>
            <a mat-list-item routerLink="/home" routerLinkActive="active">Начало</a>
            <a mat-list-item routerLink="/view/vitosha" routerLinkActive="active">Витоша</a>
            <a mat-list-item routerLink="/view/beli-iskyr" routerLinkActive="active">Бели Искър</a>
            <a mat-list-item routerLink="/view/sliven" routerLinkActive="active">Сливен</a>
            <a mat-list-item routerLink="/view/bozhenitsa" routerLinkActive="active">Боженица</a>
            <a mat-list-item routerLink="/view" routerLinkActive="active">Всички обекти</a>
         </nav>
      </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content>
      <mat-toolbar color="primary">
         <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
         </button>
         <span>Boulder Guide</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
   </mat-sidenav-content>
</mat-sidenav-container>
