<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <packageSources>
      <!--
    #  Local repository with NuGet packages produced by this component.
    #  The packages from this repository will also be exported to the component Packages output folder.
    -->
      <add key="LocalPackageRepository" value="../packages" />
   </packageSources>
</configuration>
