<div *ngIf="info && !isRoot">
   <h1>{{ info.name }}</h1>

   <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab>
         <ng-template mat-tab-label>
            <mat-icon >list</mat-icon>
         </ng-template>

         <div class="tab-content">
            <mat-nav-list>
               <mat-list-item class="area" *ngFor="let item of info.areas">
                  <a routerLink="/view{{ item.rootId }}" routerLinkActive="active">
                     <mat-icon>terrain</mat-icon>
                     <span> {{ item.name }} </span>
                     <span>сектори {{item.totalAreas }} / маршрути {{ item.totalRoutes }}</span>
                  </a>
               </mat-list-item>

               <mat-list-item class="route" *ngFor="let item of info.routes">
                  <a routerLink="/view/{{ item.rootId }}" routerLinkActive="active">
                     <mat-icon>moving</mat-icon>
                     <span> {{ item.name }} </span>
                     <span> ({{ item.difficulty | grade }}) </span>
                  </a>
               </mat-list-item>
            </mat-nav-list>
         </div>

      </mat-tab>
      <mat-tab>
         <ng-template mat-tab-label>
            <mat-icon >info</mat-icon>
         </ng-template>

         <div class="tab-content">
            <mat-expansion-panel *ngIf="area && area.Info" class="info-panel">
               <mat-expansion-panel-header>
               <mat-panel-title>
                  Обща информация
               </mat-panel-title>
               </mat-expansion-panel-header>
               <p>{{ area.Info }}</p>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="area && area.Access" class="info-panel">
               <mat-expansion-panel-header>
               <mat-panel-title>
                  Достъп
               </mat-panel-title>
               </mat-expansion-panel-header>
               <p>{{ area.Access }}</p>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="area && area.History" class="info-panel">
               <mat-expansion-panel-header>
                  <mat-panel-title>
                  История
                  </mat-panel-title>
               </mat-expansion-panel-header>
               <p>{{ area.History }}</p>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="area && area.Ethics" class="info-panel">
               <mat-expansion-panel-header>
                  <mat-panel-title>
                  Етика
                  </mat-panel-title>
               </mat-expansion-panel-header>
               <p>{{ area.Ethics }}</p>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="area && area.Accommodations" class="info-panel">
               <mat-expansion-panel-header>
               <mat-panel-title>
                  Отсядане
               </mat-panel-title>
               </mat-expansion-panel-header>
               <p>{{ area.Accommodations }}</p>
            </mat-expansion-panel>

            <mat-expansion-panel *ngIf="area && area.Restrictions" class="info-panel">
               <mat-expansion-panel-header>
                  <mat-panel-title>
                  Ограничения
                  </mat-panel-title>
               </mat-expansion-panel-header>
               <p>{{ area.Restrictions }}</p>
            </mat-expansion-panel>
         </div>

      </mat-tab>
      <mat-tab aria-label="map-tab">
         <ng-template mat-tab-label>
            <mat-icon >map</mat-icon>
         </ng-template>

         <div class="tab-content">
            <bg-area-map
               *ngIf="area && area.Location"
               class="map"
               [area]="area"
               [info]="info"
               (mapReady)="onMapReady($event)">

            </bg-area-map>
         </div>
      </mat-tab>
   </mat-tab-group>
</div>

<div *ngIf="info && isRoot">
   <div class="main-areas-container">
      <mat-card class="area" *ngFor="let item of info.areas">
         <a routerLink="/view{{ item.rootId }}" routerLinkActive="active">
            <div>
               <mat-card-title>
                  <span> {{ item.name }} </span>
               </mat-card-title>
               <mat-card-content>
                  <img *ngIf="item.images.length" src="{{ item.images[0] }}" width="50px" height="50px" />
                  <span>сектори {{item.totalAreas }} / маршрути {{ item.totalRoutes }}</span>
               </mat-card-content>
            </div>
         </a>
      </mat-card>

      <mat-card class="route" *ngFor="let item of info.routes">
         <a routerLink="/view/{{ item.rootId }}" routerLinkActive="active">
            <div>
               <mat-card-title>
                  <span> {{ item.name }}&nbsp;({{ item.difficulty | grade }}) </span>
               </mat-card-title>
               <mat-card-content>

               </mat-card-content>
            </div>
         </a>
      </mat-card>

   </div>
</div>
